{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Rafael Barros</title>
{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/62842913?s=460&u=f9eb84049477546225d57cadb178eeff668d0b01&v=4" alt="Rafael Barros">
    <h1>Rafael Barros</h1>
    <h2>Alumni - <a href="https://www.rocketseat.com.br" target="_blank">Rocketseat</a></h2>
    <p>Estudante de programação Fullstack, atualmente aprendendo HTML5, CSS, JavaScript e NodeJs</p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/rafaelbarroslima" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/rafael-lima-51212898" target="_blank">LinkedIn</a>
    <a href="https://web.facebook.com/rafael.barros.796569" target="_blank">Facebook</a>
</div>
{% endblock %}