{% extends "layout.njk" %}

{% block head %}
    <title>Portfolio - Rafael Barros</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">

        <div class="card" id="7pqp3IKyC0s">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/7pqp3IKyC0s/maxresdefault.jpg" alt="7 Tags HTML que você precisa conhecer">
            </div>
            <div class="card__content">
                <p>7 Tags HTML que você precisa conhecer | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>19:30 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="K5yYBJhix5A">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/K5yYBJhix5A/maxresdefault.jpg" alt="Extraindo dados de outros sites com Puppeteer JS">
            </div>
            <div class="card__content">
                <p>Extraindo dados de outros sites com Puppeteer JS | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>26:49 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="vYlz3SmNXQQ">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/vYlz3SmNXQQ/maxresdefault.jpg" alt="Consumindo API no Front e no Back-end">
            </div>
            <div class="card__content">
                <p>Consumindo API no Front e no Back-end | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>35:57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="6-VDE3H9-WU">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/6-VDE3H9-WU/maxresdefault.jpg" alt="Paginação no Front End com JS puro">
            </div>
            <div class="card__content">
                <p>Paginação no Front End com JS puro | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>1:14:49 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/SGwHpzgqzgk/maxresdefault.jpg" alt="Criando um Carousel do Zero só com CSS">
            </div>
            <div class="card__content">
                <p>Criando um Carousel do Zero só com CSS | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>25:18 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="wHzpWi3FxI8">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/wHzpWi3FxI8/maxresdefault.jpg" alt="Criando barra de percentual de leitura com JS">
            </div>
            <div class="card__content">
                <p>Criando barra de percentual de leitura com JS | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>20:22 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
{% endblock %}